In [1]:
import pandas as pd

/Users/yingzhao/.pyenv/versions/3.8.10/lib/python3.8/site-packages/pandas/compat/__init__.py:97: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [2]:
df = pd.read_csv("los-angeles-police-killings.csv")

In [3]:
df.head(10)

,coroners_case_number,slug,death_date,first,middle,last,age,race,gender,cause,address,neighborhood,x,y
0,2021-05641,alfredo-aceves,2021-04-29,Alfredo,NaN,Aceves,64.0,latino,male,gunshot,39462 167th St. East,Lake Los Angeles,-117.832585,34.598590
1,2021-05476,richard-b-solitro,2021-04-24,Richard,B.,Solitro,34.0,white,male,gunshot,Sunset Boulevard & Fairfax Avenue,Hollywood Hills West,-118.361564,34.098064
2,2021-05012,guillermo-amezcua,2021-04-10,Guillermo,NaN,Amezcua,48.0,latino,male,gunshot,402 Harps St.,San Fernando,-118.438888,34.288605
3,2021-04696,lauren-nicole-archibeque,2021-04-02,Lauren,Nicole,Archibeque,38.0,white,female,gunshot,2851 Golden Ave.,Long Beach,-118.202655,33.809076
4,2021-04533,matthew-paul-blaylock,2021-03-29,Matthew,Paul,Blaylock,38.0,black,male,gunshot,West 8th & South Bixel streets,Westlake,-118.264984,34.049580
5,2021-04116,jorge-armando-cerda,2021-03-16,Jorge,Armando,Cerda,36.0,latino,male,gunshot,1017 W. 21st St.,University Park,-118.281264,34.036265
6,2021-04048,david-ordaz-jr,2021-03-14,David,NaN,Ordaz,34.0,latino,male,gunshot,166 N. Rowan Ave.,East Los Angeles,-118.186679,34.037878
7,2021-03980,jaime-ruiz,2021-03-12,Jaime,NaN,Ruiz,30.0,latino,male,gunshot,8600 S. Gate Ave.,South Gate,-118.213926,33.958000
8,2021-03818,david-kahler,2021-03-08,David,NaN,Kahler,30.0,white,male,gunshot,2255 N. Buena Vista St.,Burbank,-118.338387,34.197441
9,2021-03042,francisco-eduardo-flores,2021-02-15,Francisco,Eduardo,Flores,30.0,latino,male,gunshot,Durfee Road & Garvey Avenue,El Monte,-118.011337,34.063719

In [4]:
df.shape

(928, 14)

In [5]:
df.cause.value_counts()

gunshot        908
other           16
blunt-force      3
Name: cause, dtype: int64

In [6]:
df.race.value_counts()

latino    491
black     228
white     175
asian      28
other       2
Name: race, dtype: int64

In [8]:
df.neighborhood.value_counts().head(20)

Long Beach                61
Compton                   30
Inglewood                 25
East Los Angeles          24
Boyle Heights             20
Downtown                  19
South Gate                17
Lynwood                   17
Palmdale                  16
Lancaster                 16
Pomona                    15
Van Nuys                  15
Torrance                  15
Historic South-Central    13
Hollywood                 13
Florence                  12
Carson                    12
Westlake                  11
Green Meadows             11
El Monte                  11
Name: neighborhood, dtype: int64

In [9]:
df.gender.value_counts()

male      894
female     34
Name: gender, dtype: int64

In [16]:
df.shape

(928, 14)

In [20]:
df['death_year'] = df.death_date.dt.year

In [24]:
df['death_year_month'] = df.death_date.dt.to_period('M')

In [25]:
df.head()

,coroners_case_number,slug,death_date,first,middle,last,age,race,gender,cause,address,neighborhood,x,y,death_month,death_year,death_year_month
0,2021-05641,alfredo-aceves,2021-04-29,Alfredo,NaN,Aceves,64.0,latino,male,gunshot,39462 167th St. East,Lake Los Angeles,-117.832585,34.598590,2021-04,2021,2021-04
1,2021-05476,richard-b-solitro,2021-04-24,Richard,B.,Solitro,34.0,white,male,gunshot,Sunset Boulevard & Fairfax Avenue,Hollywood Hills West,-118.361564,34.098064,2021-04,2021,2021-04
2,2021-05012,guillermo-amezcua,2021-04-10,Guillermo,NaN,Amezcua,48.0,latino,male,gunshot,402 Harps St.,San Fernando,-118.438888,34.288605,2021-04,2021,2021-04
3,2021-04696,lauren-nicole-archibeque,2021-04-02,Lauren,Nicole,Archibeque,38.0,white,female,gunshot,2851 Golden Ave.,Long Beach,-118.202655,33.809076,2021-04,2021,2021-04
4,2021-04533,matthew-paul-blaylock,2021-03-29,Matthew,Paul,Blaylock,38.0,black,male,gunshot,West 8th & South Bixel streets,Westlake,-118.264984,34.049580,2021-03,2021,2021-03