 # import the data

In [58]:
import pandas as pd
df = pd.read_csv("los-angeles-police-killings.csv")

In [59]:
df.head(5)

,coroners_case_number,slug,death_date,first,middle,last,age,race,gender,cause,address,neighborhood,x,y
0,2021-05641,alfredo-aceves,2021-04-29,Alfredo,NaN,Aceves,64.0,latino,male,gunshot,39462 167th St. East,Lake Los Angeles,-117.832585,34.598590
1,2021-05476,richard-b-solitro,2021-04-24,Richard,B.,Solitro,34.0,white,male,gunshot,Sunset Boulevard & Fairfax Avenue,Hollywood Hills West,-118.361564,34.098064
2,2021-05012,guillermo-amezcua,2021-04-10,Guillermo,NaN,Amezcua,48.0,latino,male,gunshot,402 Harps St.,San Fernando,-118.438888,34.288605
3,2021-04696,lauren-nicole-archibeque,2021-04-02,Lauren,Nicole,Archibeque,38.0,white,female,gunshot,2851 Golden Ave.,Long Beach,-118.202655,33.809076
4,2021-04533,matthew-paul-blaylock,2021-03-29,Matthew,Paul,Blaylock,38.0,black,male,gunshot,West 8th & South Bixel streets,Westlake,-118.264984,34.049580

In [60]:
df.shape
# So we have 928 death in total from 2005 to 2021

(928, 14)

In [61]:
# let's see the most common casue of police killings
df.cause.value_counts()

gunshot        908
other           16
blunt-force      3
Name: cause, dtype: int64

In [62]:
# the race disparity of police killing cases
df.race.value_counts()

latino    491
black     228
white     175
asian      28
other       2
Name: race, dtype: int64

In [63]:
# caculate the average percentage of each race from 2005 to 2021
totol = 928
latino_percentage = round(491/928*100,1)
latino_percentage

52.9

In [64]:
black_percentage = round(228/928*100,1)
black_percentage

24.6

In [65]:
white_percentage = round(175/928*100,1)
white_percentage

18.9

In [66]:
asian_percentage = round(28/928*100,1)
asian_percentage

3.0

In [ ]:
other_percentage = round(2/928*100,1)
other_percentage

In [71]:
df.death_date.dtypes
df.death_date = pd.to_datetime(df['death_date'])

In [72]:
# caculate the percentage of each race by year, first need to create a new column of years from "death_date"
df['death_year'] = df.death_date.dt.year

In [73]:
pd.set_option('display.max_rows', None, 'display.max_columns',None)
df_race_year = df.groupby('race').death_year.value_counts()
df_race_year
#df_race_year.to_frame()

race    death_year
asian   2015           4
        2008           3
        2016           3
        2002           2
        2003           2
        2011           2
        2012           2
        2019           2
        2000           1
        2001           1
        2004           1
        2007           1
        2013           1
        2014           1
        2017           1
        2018           1
black   2007          16
        2011          15
        2009          14
        2013          14
        2006          13
        2014          13
        2000          12
        2003          12
        2005          12
        2008          12
        2016          12
        2019          12
        2015          10
        2004           9
        2010           9
        2001           8
        2002           8
        2018           7
        2020           7
        2017           6
        2012           5
        2021           2
latino  2017          31
        2011          29
        2016          29
        2003          27
        2013          27
        2008          26
        2015          26
        2004          25
        2014          25
        2018          25
        2006          23
        2012          23
        2007          21
        2009          21
        2020          21
        2005          19
        2010          19
        2002          18
        2001          17
        2019          16
        2000          15
        2021           8
other   2002           1
        2020           1
white   2012          15
        2003          11
        2004          11
        2013          11
        2010          10
        2017          10
        2000           9
        2005           9
        2011           9
        2014           9
        2016           9
        2002           7
        2009           7
        2015           7
        2018           7
        2001           6
        2007           5
        2008           5
        2019           5
        2020           5
        2006           4
        2021           4
Name: death_year, dtype: int64

In [2]:
# get the total case numbers for each year to see if any year stands out
import matplotlib
df_by_year = df.death_year.value_counts().to_frame()
df_by_year

NameError: name 'df' is not defined

In [61]:
# Which neighborhood has more cases?
df.neighborhood.value_counts().head(10)

Long Beach          61
Compton             30
Inglewood           25
East Los Angeles    24
Boyle Heights       20
Downtown            19
South Gate          17
Lynwood             17
Palmdale            16
Lancaster           16
Name: neighborhood, dtype: int64

In [9]:
# Are there more male being killed than female?
df.gender.value_counts()

male      894
female     34
Name: gender, dtype: int64

In [28]:
# I create another new column with both year and month from "death_date" for future visualizations.
df['death_year_month'] = df.death_date.dt.to_period('M')